<section class="content-form">
    <div class="class-content">
        <form class="form-login" action="POST">
              <header class="header-log-up">
                  <div class="class-img-logo">
                       <img class="img-logo-header" src="https://img.icons8.com/office/80/000000/groups.png"/>
                  </div>
              </header>
            <div class="group-form">
                <label for="inp-email">Email</label>
                <div  class="group-input">
                    <input type="email" id="inp-email" placeholder="example@gmail.com" required>
                </div>  
            </div>
            <div class="group-form">
            <label for="inp-pass">Password</label>
            <div class="group-input">
                  <input type="password" name="inp-pass" id="inp-pass" placeholder="password..." required>
                    <span class="show-hide">
                     <i class="fa fa-eye"></i>
                     </span>
                </div>
            </div>
            <div class="group-btn-login">
                <button id="btn-login" class="btn-login" type="submit">Login</button>
            </div>
        </form>
    </div>
</section>