<header>
  <nav class="navbar navbar-expand-md">
  <div class="container-fluid">
    {{!-- <div class="empty-content"></div> --}}
    <a class="navbar-brand title-nav" href="#">{{title}}</a>
    <div class="content-right dropdown">
    <img class="vector-png dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="true" src="https://img.icons8.com/office/42/000000/test-account.png"/>
    <ul class="dropdown-menu">
     <li class="dropdown-item"><a href="/loginpage">Login</a></li>
     <li class="dropdown-item"><a href="/registerpage">Register</a></li>
     <li class="dropdown-item"><a href="/">Beranda</a></li>
  </ul>
 </div>
</div>
</nav>
</header>
