<section class="content-form">
      {{#if message}}
     <div class="alert alert-{{message.type}}" role="alert">
      {{message.message}}
     </div>
     {{/if}}
    <div class="class-content">
        <form action="/register" method="POST" class="form-login" >
              <header class="header-log-up">
                  <div class="class-img-logo">
                       <img class="img-logo-header" src="https://img.icons8.com/office/80/000000/groups.png"/>
                  </div>
              </header>
             <div class="group-form">
                <label for="inp-email">Email</label>
                <div  class="group-input">
                    <input type="email" name="inp_email" id="inpemail" placeholder="example@gmail.com">
                </div>  
            </div>
            <div class="group-form">
            <label for="inp-pass">Password</label>
            <div class="group-input">
                  <input type="password" name="inp_pass" id="inppass" placeholder="password...">
                    <span class="show-hide">
                     <i class="fa fa-eye"></i>
                     </span>
                </div>
            </div>
            <div class="group-btn-login">
                <button id="btn-login" class="btn-login" type="submit">Register</button>
            </div>
        </form>
    </div>
</section>