{{> head}}
{{> navbar}}

<div class="big-container">
<div class="view-img">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./img/statistic-g457a4671d_1280.png" class="img-size d-block w-90" alt="">
      <div class="carousel-caption d-none d-md-block">
        <h2>mengurangi kesalahan data pencatatan</h2>
        <p>Dengan adanya aplikasi inventory maka kesalahan pencatatan dan pendataan produk perusahaan akan berkurang. Karena aplikasi inventory menjalankan sistem yang memudahkan pencatatan bagi pekerja gudang sehingga para pekerja akan mudah melakukan pendataan sehingga kesalahan pencatatan dapat dihindari.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="./img/economy-g6101a5d5c_1920.jpg" class="img-size d-block w-90" alt="">
      <div class="carousel-caption d-none d-md-block">
        <h2>meningkatkan penjualan perusahaan </h2>
        <p>meningkatkan penjualan dari perusahaan terkait karena aplikasi inventory akan selalu memperhatik an persediaan barang-barang dalam gudang perusahaan.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="./img/business-ga19d95e54_1920.jpg" class="img-size d-block w-90" alt="">
      <div class="carousel-caption d-none d-md-block">
        <h2>dapat menghemat waktu pekerjaan ...</h2>
        <p> semua kegiatan pengaturan persediaan barang secara real time. Sehingga kontrol persediaan dapat dilakukan dengan mudah dalam waktu kapan saja.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
{{!-- content archive iventory --}}
<div class="content-right-card-view">
    <header class="header-archive">
        <h2>Archive Inventory</h2>
    </header>
    <ol class="list-group list-group-numbered">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Subheading</div>
      Cras justo odio
    </div>
    <img src="https://img.icons8.com/office/30/000000/move-by-trolley.png"/>
    <span class="badge bg-primary rounded-pill">14</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Subheading</div>
      Cras justo odio
    </div>
    <img src="https://img.icons8.com/office/30/000000/move-by-trolley.png"/>
    <span class="badge bg-primary rounded-pill">14</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Subheading</div>
      Cras justo odio
    </div>
    <img src="https://img.icons8.com/office/30/000000/move-by-trolley.png"/>
    <span class="badge bg-primary rounded-pill">14</span>
  </li>
   <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Subheading</div>
      Cras justo odio
    </div>
    <img src="https://img.icons8.com/office/30/000000/move-by-trolley.png"/>
    <span class="badge bg-primary rounded-pill">14</span>
  </li>
   <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Subheading</div>
      Cras justo odio
    </div>
    <img src="https://img.icons8.com/office/30/000000/move-by-trolley.png"/>
    <span class="badge bg-primary rounded-pill">14</span>
  </li>
   <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Subheading</div>
      Cras justo odio
    </div>
    <img src="https://img.icons8.com/office/30/000000/move-by-trolley.png"/>
    <span class="badge bg-primary rounded-pill">14</span>
  </li>
   <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Subheading</div>
      Cras justo odio
    </div>
    <img src="https://img.icons8.com/office/30/000000/move-by-trolley.png"/>
    <span class="badge bg-primary rounded-pill">14</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Subheading</div>
      Cras justo odio
    </div>
    <img src="https://img.icons8.com/office/30/000000/move-by-trolley.png"/>
    <span class="badge bg-primary rounded-pill">14</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Subheading</div>
      Cras justo odio
    </div>
    <img src="https://img.icons8.com/office/30/000000/move-by-trolley.png"/>
    <span class="badge bg-primary rounded-pill">14</span>
  </li>
</ol>
</div>
</div>
{{> footer}}